header{ color: white;
    background-image:url(mahir.jpg);
     height: 200px;
     display: flex;
     align-items: center;
     justify-content: center;

}
#navi{
display:flex;
align-items: center;
justify-content: center;
background-color: #1d4018;
height: 50px;    



}
.navLink{

width: 100%;
height: 50px;
text-decoration: none;
text-align: center;
align-self: center;
color:whitesmoke;
font-size: 20px;


}

#navLink:hover {
color: red;
background-color: pink;
}

#banner-text {
 font-size: 100px;
 text-shadow: 2px 2px black;
 text-align: center;


}
img {
    height: 100px;
    object-fit: contain;
}

.product-card {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
}

.product-info {
    display: flex;
    justify-content: space-around;

}



/* Create a media query for tablet/medium screen devices (less than 700px width) */
/* Style the product list to have two columns of equal size */

/* Create a media query for desktop/large screen devices (anything greater than 700px width) */
/* Style the product list to have three columns of equal size */

@media screen and (max-width: 900px) 
{

    #product-list {
    /* Use CSS Grid here to adjust layout for mobile/small screen devices (less than 500px width). This will be the default, so no media query is needed. */
    /* Style to have one column */
    /* Center the grid items */
    /* Use a grid gap to provide spacing between grid items */



display: grid;
grid-template-columns: auto auto  ;
align-content: center;
gap: 10px; 
padding: 10px;

}


}

@media screen and (min-width: 900px) {

    #product-list {
    /* Use CSS Grid here to adjust layout for mobile/small screen devices (less than 500px width). This will be the default, so no media query is needed. */
    /* Style to have one column */
    /* Center the grid items */
    /* Use a grid gap to provide spacing between grid items */



display: grid;
grid-template-columns: auto auto auto ;
align-content: center;
gap: 10px; 
padding: 10px;

}

}