
header{ color: white;
    background-image:url(../assets/mahir.jpg);
     height: 200px;
     display: flex;
     align-items: center;
     justify-content: center;

}
#navi{
display:flex;
align-items: center;
justify-content: center;
background-color: #1d4018;
height: 50px;    



}
.navLink{

width: 100%;
height: 50px;
text-decoration: none;
text-align: center;
align-self: center;
color:whitesmoke;
font-size: 20px;


}

#navLink:hover {
color: red;
background-color: pink;
}

#banner-text {
 font-size: 100px;
 text-shadow: 2px 2px black;
 text-align: center;


}

article{
    
        margin: auto;
        width: 60%;
         padding: 10px;

}
#headingStart{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
        width: 30%;
         padding: 10px;
         background-color: rgb(152, 132, 146);

}
#firstHeading {
    font-family: 'Courier New', Courier, monospace;
    background-color: burlywood;
    width: 50%;
}
#secondHeading {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: deepskyblue;
    color: azure;
    width: 40%;
}
#thirdHeading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blueviolet;
    width: 30%;

}
p{
    font-weight: bold;
    font-size:20px;
}